@page
@model MoodTracker.Pages.AdminDashboardModel
@{
    ViewData["Title"] = "Admin dashboard";
}



<div class="AvaliableRoles">
    <h2>Role Management</h2>


    @if (TempData["RoleDeletedMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["RoleDeletedMessage"]
        </div>
    }
    @if (TempData["RoleCreated"] != null)
    {
        <div class="alert alert-success">
            @TempData["RoleCreated"]
        </div>
    }

    @if (TempData["RoleUpdateMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["RoleUpdateMessage"]
        </div>
    }
    <div class="AddNewRole">
        <form method="post" asp-page-handler="CreateNewRole">
            <input asp-for="@Model.new_role_name" placeholder="Enter a new role here" pattern="[A-Za-z\s]+" />
            <button type="submit">Add New Role</button>
        </form>


    </div>
 
   
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">RoleId</th>
                <th scope="col">Role Name</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
           @foreach(var role in Model.Roles)
           {
               <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td><a class="Delete-Option" asp-page-handler="DeleteRole" asp-route-id="@role.Id">Delete Role</a></td>
               </tr>
               
                
           }

        </tbody>
    </table>
</div>


<div class="AllUsers">
    <h2>User Management</h2>

    @if (TempData["EmailUpdateMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["EmailUpdateMessage"]
        </div>
    }
    @if (TempData["PasswordUpdateMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["PasswordUpdateMessage"]
        </div>
    }

    @if (TempData["RoleUpdateMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["RoleUpdateMessage"]
        </div>
    }

    @if (TempData["RoleNotExist"] != null)
    {
        <div class="alert alert-danger">
            @TempData["RoleNotExist"]
        </div>
    }

    @if (TempData["UserDeletedMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["UserDeletedMessage"]
        </div>
    }
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Update Email</th>
                <th>Update Password</th>
                <th>Update Role</th>
                <th>Delete User</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var user in Model.users)
                {
                            <tr>
                                <td> <h4>@user.Firstname  @user.Lastname</h4></td>
                                <td>
                                    <form method="post" asp-page="/AdminDashboard" asp-page-handler="UpdateEmail" asp-route-id="@user.Id">
                                        <input asp-for="@Model.NewEmail" placeholder="Enter new email" value="@user.Email" />
                                        <button class="" type="submit">Submit</button>
                                   

                                    </form>
                                </td>
                                <td>
                                    <form method="post" asp-page-handler="UpdatePassword" asp-page="/AdminDashboard" asp-route-id="@user.Id">
                                        <input asp-for="@Model.NewPassword" placeholder="Enter their new password"/>
                                        <button class="" type="submit">Submit</button>
                                     </form>
                                </td>
                                <td>
                                    <form method="post" asp-page-handler="UpdateRole"  asp-route-id="@user.Id" asp-page="/AdminDashboard">
                                        <input asp-for="NewUserRole" placeholder="Enter their new role" pattern="[A-Za-z\s]+" />
                                        <button class="" type="submit">Submit</button>
                                    </form>
                                </td>
                                <td>
                                   
                                    <a class="delete_user" asp-page-handler="Delete" asp-route-id="@user.Id" asp-page="/AdminDashboard">Delete User</a>
                                </td>
                            </tr>
                }
            }
        </tbody>
    </table>
</div>

