@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
  
    <a class="logemotionbutton" asp-page="/MoodForm">New Emotion? Click here to log</a>
       <div class="timeline">
        <h2>Your Mood Entries (Monday to Friday)</h2>
        @foreach (var entry in Model.MoodEntries)
        {
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>@entry.EntryDate.ToString("dddd, MMMM dd yyyy")</h3>
                    <p><strong>Mood:</strong> @entry.MoodName</p>
                    <p><strong>Description:</strong> @entry.MoodDescription</p>
                    <p><strong>Notes:</strong> @entry.Notes</p>
                    @if(entry.mood_insight != null && entry.recommendation != null)
                    {
                        <p><strong>Insight:</strong>@entry.mood_insight</p>
                        <p><strong>Recommendations: </strong> @entry.recommendation</p>
                    }
                </div>
            </div>
        }
    </div>
</div>



