@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <a class="logemotionbutton" asp-page="/MoodForm">New Emotion? Click here to log</a>
    <div class="timeline">
        <h2>Hello, @Model.UserName, here are your mood entries (Monday to Friday)</h2>

        @if (Model.MoodEntries.Any())
        {
            @foreach (var entry in Model.MoodEntries)
            {
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h3>@entry.EntryDate.ToString("dddd, MMMM dd yyyy")</h3>

                        <p><strong>Mood:</strong> @entry.MoodName</p>
                        <p><strong>Description:</strong> @entry.MoodDescription</p>
                        <p><strong>Colour:</strong> @entry.MoodColour</p>
                        <p><strong>Notes:</strong> @entry.Notes</p>

                        @if (!string.IsNullOrEmpty(entry.mood_insight))
                        {
                            <p><strong>Insight:</strong> @entry.mood_insight</p>
                        }

                        @if (!string.IsNullOrEmpty(entry.recommendation))
                        {
                            <p><strong>Recommendations:</strong> @entry.recommendation</p>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <p>No mood entries found for this week.</p>
        }
    </div>
</div>

<div class="LogOnStreak">
    <h2>Have you logged your mood for today?</h2>
   
    @if(Model.LoginStreak == 0)
    {
        <h5>Great to see you're starting to log your moods keep going to increase your streak!</h5>
    }
    else
    {
        <h4>Great Job!</h4>
        <h5>Including today, you have logged your mood for <span>@Model.LoginStreak</span> continuous days</h5>
    }
    


</div>
