@page
@model MoodTracker.Pages.MoodLogModel
@{
}


<div class="LogOfMoods">
    <h1>A history of your logs</h1>

    <div class="SearchLogs">
        <form class="search_bar" method="post" asp-page-handler="Search">
            <input asp-for="@Model.search" placeholder="Enter the date of the mood log dd/mm/yyyy" id="dateonlyinput"/>
            <input type="submit" value="search"/>
        </form>

    </div>
    
    @foreach(var entry in Model.MoodEntries)
    {
        <div class="logs">
            <h3>@entry.EntryDate.ToString("dddd, MMMM dd yyyy")</h3>
            <h4><strong>Mood Logged:</strong> @entry.MoodName</h4>
            <p><strong class="mini-title">Description:</strong> @entry.MoodDescription</p>
            <p><strong class="mini-title">Insight:</strong>@entry.mood_insight</p>
            <p><strong class="mini-title">Recommendation:</strong>@entry.recommendation</p>
            <p><strong class="mini-title">Notes:</strong> @entry.Notes</p>

          

        </div>

       
      

    }




</div>
